# 1. file명 (Path) 변수에 저장

In [272]:
import os
import numpy as np
import pandas as pd

# data_path = os.getcwd() + '/' # data가 ipynb파일과 같은 경로에 존재하는 경우
data_path = '/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/' # data가 다른 경로에 존재하는 경우

print(data_path)

/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/

In [276]:
import natsort # 문자열의 숫자를 기준으로 숫자 정렬처럼 정렬해줌!

# 모든 텍스트 파일 불러오기
file_paths = [] # 파일 경로를 담을 배열 선언
file_names = [] # 파일 이름을 담을 배열 선언

for dirname, _, filenames in os.walk(data_path):
    filenames = natsort.natsorted(filenames)
    for filename in filenames:
        path = os.path.join(dirname, filename)
        
        # 파일명에 SPINDLE1_TEST를 포함하고, -와 RMS는 포함하지 않는 경우 1초간의 rawData
        if(path.endswith('txt') and "SPINDLE1_TEST" in path and "-" not in path and "RMS" not in path):
            file_paths.append(path)
            file_names.append(filename)

for i in range(3):
    print(file_paths[i])
    print(file_names[i])

['/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST1.txt', '/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST2.txt', '/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST3.txt']
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST1.txt
SPINDLE1_TEST1.txt
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST2.txt
SPINDLE1_TEST2.txt
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/TEST_69(Continue)/SPINDLE1_TEST3.txt
SPINDLE1_TEST3.txt

# 2. text파일을 Dataframe으로 저장 및 병합

## 1-1) 각 파일을 dataframe으로 불러와 배열에 저장

In [277]:
df_arr = [] # 각각의 파일을 dataframe으로 불러와 배열에 저장
for i in range(len(file_paths)):
    df_arr.append(pd.read_table(file_paths[i], sep='\t', header=None,
                                names=['time', 'x_acc', 'time2', 'y_acc', 'time3', 'temperature',
                                       'time4', 'x_dis', 'time5', 'y_dis']))

    # 불필요한 열 삭제
    df_arr[i].drop(['time2', 'time3', 'temperature', 'time4', 'time5'], axis=1, inplace=True)

print(df_arr[0])
print(df_arr[1].columns)
print(len(df_arr))
print(len(file_paths))
len_df_0 = len(df_arr[0])
print(len_df_0)
len_df_1 = len(df_arr[1])
print(len_df_1)

               time     x_acc     y_acc     x_dis     y_dis
0          0.000000  0.002379  0.002050 -6.854546 -5.781479
1          0.000100  0.002050  0.001721 -6.863886 -5.796293
2          0.000200  0.002708  0.003365 -6.844563 -5.787920
3          0.000300  0.002379  0.002050 -6.863564 -5.786310
4          0.000400  0.003694  0.002379 -6.851326 -5.799192
5          0.000500  0.003037  0.002379 -6.851326 -5.782123
6          0.000600  0.002708  0.001721 -6.862920 -5.797581
7          0.000700  0.002050  0.002050 -6.845851 -5.791140
8          0.000800  0.001721  0.002050 -6.863564 -5.786310
9          0.000900  0.002379 -0.000581 -6.853580 -5.801124
10         0.001000  0.004023  0.003365 -6.851326 -5.783733
11         0.001100  0.002708  0.002379 -6.865174 -5.797259
12         0.001200  0.003037  0.002050 -6.847139 -5.793395
13         0.001300 -0.003869  0.002379 -6.863564 -5.786310
14         0.001400  0.002379  0.002050 -6.853580 -5.799836
15         0.001500  0.002379  0.002050 -6.851004 -5.783411
16         0.001600  0.002708  0.001721 -6.863886 -5.796293
17         0.001700  0.003037  0.002379 -6.844885 -5.792107
18         0.001800 -0.003211  0.002379 -6.862920 -5.786954
19         0.001900  0.003365  0.002050 -6.854868 -5.800158
20         0.002000  0.002379  0.001721 -6.847783 -5.783411
21         0.002100  0.003365  0.000406 -6.865496 -5.795005
22         0.002200  0.002050  0.002708 -6.845851 -5.793717
23         0.002300  0.001721  0.002050 -6.860021 -5.783411
24         0.002400  0.003037  0.002708 -6.855513 -5.800802
25         0.002500  0.001721  0.002708 -6.849394 -5.784055
26         0.002600  0.002708  0.002050 -6.864852 -5.792107
27         0.002700  0.002708  0.001392 -6.846173 -5.794039
28         0.002800  0.002379  0.002708 -6.860987 -5.783411
29         0.002900  0.002379  0.002379 -6.856479 -5.801446
...             ...       ...       ...       ...       ...
4049970  599.992283 -0.242937  2.617652 -6.901566 -5.627539
4049971  599.992383  0.699522 -1.692470 -6.913481 -5.598233
4049972  599.992483  0.387452 -0.452409 -6.953093 -5.589860
4049973  599.992583 -2.060774 -1.461295 -6.942466 -5.630760
4049974  599.992683  0.987258  0.033948 -6.886751 -5.627539
4049975  599.992783  1.961614  0.071764 -6.917668 -5.602098
4049976  599.992883 -2.760550 -0.833207 -6.949229 -5.593080
4049977  599.992983  0.584099 -1.966067 -6.927651 -5.613369
4049978  599.993083  0.379889  3.036595 -6.883209 -5.598233
4049979  599.993183 -0.552376  0.529511 -6.894158 -5.591148
4049980  599.993283 -0.298511 -0.169276 -6.919922 -5.623353
4049981  599.993383  1.814622  1.518994 -6.904464 -5.617556
4049982  599.993483 -2.518193 -0.025901 -6.897701 -5.636557
4049983  599.993583  1.268746  1.498277 -6.921533 -5.625285
4049984  599.993683  3.654159 -1.237025 -6.930228 -5.624963
4049985  599.993783 -0.093643  3.477242 -6.938923 -5.608539
4049986  599.993883  0.158907 -2.944702 -6.956958 -5.616912
4049987  599.993983  3.121107  0.407511 -6.956636 -5.618522
4049988  599.994083  0.089522  1.249344 -6.938279 -5.628506
4049989  599.994183 -0.169276  0.541350 -6.937313 -5.606928
4049990  599.994283  2.076379 -0.872010 -6.941178 -5.595335
4049991  599.994383 -2.216316  1.211856 -6.946330 -5.595335
4049992  599.994483 -1.054189  2.001404 -6.950839 -5.591470
4049993  599.994583  1.025404 -0.647740 -6.941178 -5.599843
4049994  599.994683 -4.294276 -0.443859 -6.923465 -5.594368
4049995  599.994783 -0.654975 -0.009788 -6.921855 -5.613047
4049996  599.994883  1.190153 -1.670767 -6.933448 -5.657490
4049997  599.994983  1.199361 -3.318268 -6.922177 -5.630116
4049998  599.995083  0.540692  2.109263 -6.936991 -5.592436
4049999  599.995183  1.493673 -0.144284 -6.992061 -5.611759

[4050000 rows x 5 columns]
Index(['time', 'x_acc', 'y_acc', 'x_dis', 'y_dis'], dtype='object')
3
3
4050000
4040000

In [278]:
df_arr[0].head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.002379  0.002050 -6.854546 -5.781479
1  0.0001  0.002050  0.001721 -6.863886 -5.796293
2  0.0002  0.002708  0.003365 -6.844563 -5.787920
3  0.0003  0.002379  0.002050 -6.863564 -5.786310
4  0.0004  0.003694  0.002379 -6.851326 -5.799192

In [279]:
df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050000 entries, 0 to 4049999
Data columns (total 5 columns):
time     float64
x_acc    float64
y_acc    float64
x_dis    float64
y_dis    float64
dtypes: float64(5)
memory usage: 154.5 MB

## 1-2) data가 매우 많으므로 효율적인 datatype으로 변경

In [280]:
for i in range(len(file_paths)):
    df_arr[i]['x_acc'] = df_arr[i]['x_acc'].astype(np.float16)
    df_arr[i]['y_acc'] = df_arr[i]['y_acc'].astype(np.float16)
    df_arr[i]['x_dis'] = df_arr[i]['x_dis'].astype(np.float16)
    df_arr[i]['y_dis'] = df_arr[i]['y_dis'].astype(np.float16)

In [281]:
df_arr[0].head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.002378  0.002050 -6.855469 -5.781250
1  0.0001  0.002050  0.001721 -6.863281 -5.796875
2  0.0002  0.002708  0.003365 -6.843750 -5.789062
3  0.0003  0.002378  0.002050 -6.863281 -5.785156
4  0.0004  0.003695  0.002378 -6.851562 -5.800781

In [282]:
df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050000 entries, 0 to 4049999
Data columns (total 5 columns):
time     float64
x_acc    float16
y_acc    float16
x_dis    float16
y_dis    float16
dtypes: float16(4), float64(1)
memory usage: 61.8 MB

## 2) Merge
* 대부분 10분(600초) 간격을 두고 데이터를 수집했지만, 1초 간격으로 수집한 경우도 있음 (폴더에 명시되어있음)

## 2-1) 여러 txt파일에 나누어진 data 값들을 각 txt파일 사이에 1초 간격을 주어서 병합

In [283]:
last_index = df_arr[0].shape[0] # 마지막 행 index (확인용)
print(last_index)

for i in range(len(file_paths) - 1): # 마지막 파일은 제외
    last_time = df_arr[i].iloc[-1,0]
    
    if (i == 0):
        print(last_time)
        print(type(last_time))
    
    # 연결될 파일(다음 파일)의 time열에만 last_time을 더함
    df_arr[i+1] = df_arr[i+1].add([last_time + 1, 0, 0, 0, 0], axis=1) # 1초 간격 부여
    
    if (i == 0):
        print(df_arr[i].iloc[last_index - 1,:])
        print()
        print(df_arr[i+1].iloc[0,:])
    
# dataframe을 연결함
df = pd.concat(df_arr)
df_arr[i+1] = pd.concat([df_arr[i], df_arr[i+1]], axis=0)

print()
print()
print(df.iloc[last_index - 1,:])
print()
print(df.iloc[last_index, :])

print()
print()
print(df.iloc[69999, :])
print(df.iloc[70000, :])

4050000
599.995183
<class 'numpy.float64'>
time     599.995183
x_acc      1.494141
y_acc     -0.144287
x_dis     -6.992188
y_dis     -5.613281
Name: 4049999, dtype: float64

time     600.995183
x_acc      2.691406
y_acc      0.037903
x_dis     -6.925781
y_dis     -5.621094
Name: 0, dtype: float64


time     599.995183
x_acc      1.494141
y_acc     -0.144287
x_dis     -6.992188
y_dis     -5.613281
Name: 4049999, dtype: float64

time     600.995183
x_acc      2.691406
y_acc      0.037903
x_dis     -6.925781
y_dis     -5.621094
Name: 0, dtype: float64


time     10.266231
x_acc     0.143799
y_acc    -0.101868
x_dis    -6.835938
y_dis    -5.792969
Name: 69999, dtype: float64
time     10.738893
x_acc     0.029022
y_acc    -0.812500
x_dis    -6.843750
y_dis    -5.777344
Name: 70000, dtype: float64

## 2-2) 여러 txt파일에 나누어진 data 값들을 각 txt파일 사이에 600초 (10분) 간격을 주어서 병합

In [259]:
last_index = df_arr[0].shape[0] # 마지막 행 index (확인용)
print(last_index)

for i in range(len(file_paths) - 1): # 마지막 파일은 제외
    last_time = df_arr[i].iloc[-1,0]
    
    if (i == 0):
        print(last_time)
        print(type(last_time))
    
    # 연결될 파일(다음 파일)의 time열에만 last_time을 더함
    df_arr[i+1] = df_arr[i+1].add([last_time + 600, 0, 0, 0, 0], axis=1) # 600초 간격 부여
    
    if (i == 0):
        print(df_arr[i].iloc[last_index - 1,:])
        print()
        print(df_arr[i+1].iloc[0,:])
    
# dataframe을 연결함
df = pd.concat(df_arr, ignore_index=True)
df_arr[i+1] = pd.concat([df_arr[i], df_arr[i+1]], axis=0)

print()
print()
print(df.iloc[last_index - 1,:])
print()
print(df.iloc[last_index, :])

print()
print()
print(df.iloc[69999, :])
print(df.iloc[70000, :])

70000
10.284616
<class 'numpy.float64'>
time     10.284616
x_acc     2.150391
y_acc    -1.666016
x_dis    -6.925781
y_dis    -5.542969
Name: 69999, dtype: float64

time     610.284616
x_acc     -1.889648
y_acc      0.377930
x_dis     -6.949219
y_dis     -5.562500
Name: 0, dtype: float64


time     10.284616
x_acc     2.150391
y_acc    -1.666016
x_dis    -6.925781
y_dis    -5.542969
Name: 69999, dtype: float64

time     610.284616
x_acc     -1.889648
y_acc      0.377930
x_dis     -6.949219
y_dis     -5.562500
Name: 70000, dtype: float64


time     10.284616
x_acc     2.150391
y_acc    -1.666016
x_dis    -6.925781
y_dis    -5.542969
Name: 69999, dtype: float64
time     610.284616
x_acc     -1.889648
y_acc      0.377930
x_dis     -6.949219
y_dis     -5.562500
Name: 70000, dtype: float64

## 3) 병합 결과 확인

In [284]:
print(df.iloc[len_df_0 - 1,:])
print()
print(df.iloc[len_df_0,:])

print(len(df_arr[0]))
print(len(df_arr[1]))

print(len(df))
print(len(df_arr))

time     599.995183
x_acc      1.494141
y_acc     -0.144287
x_dis     -6.992188
y_dis     -5.613281
Name: 4049999, dtype: float64

time     600.995183
x_acc      2.691406
y_acc      0.037903
x_dis     -6.925781
y_dis     -5.621094
Name: 0, dtype: float64
4050000
4040000
8900000
3

In [285]:
df.head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.002378  0.002050 -6.855469 -5.781250
1  0.0001  0.002050  0.001721 -6.863281 -5.796875
2  0.0002  0.002708  0.003365 -6.843750 -5.789062
3  0.0003  0.002378  0.002050 -6.863281 -5.785156
4  0.0004  0.003695  0.002378 -6.851562 -5.800781

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8900000 entries, 0 to 809999
Data columns (total 5 columns):
time     float64
x_acc    float16
y_acc    float16
x_dis    float16
y_dis    float16
dtypes: float16(4), float64(1)
memory usage: 523.7 MB

In [287]:
df.describe()

               time         x_acc         y_acc         x_dis         y_dis
count  8.900000e+06  8.900000e+06  8.900000e+06  8.900000e+06  8.900000e+06
mean   6.597518e+02 -0.000000e+00  0.000000e+00           NaN           NaN
std    3.815968e+02  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
min    0.000000e+00 -1.077344e+01 -1.077344e+01 -7.117188e+00 -5.843750e+00
25%    3.283336e+02 -1.239258e+00 -1.232422e+00 -6.949219e+00 -5.671875e+00
50%    6.597510e+02  7.706881e-05  5.668640e-03 -6.929688e+00 -5.601562e+00
75%    9.908004e+02  1.237305e+00  1.239258e+00 -6.906250e+00 -5.566406e+00
max    1.320759e+03  1.078125e+01  1.078125e+01 -6.792969e+00 -5.472656e+00

In [288]:
print(df.isnull().sum()) # column 별 결측치 개수

time     0
x_acc    0
y_acc    0
x_dis    0
y_dis    0
dtype: int64

# 3. Change to txt file (Save as a new file)

## 1) Save as text file

In [24]:
save_as = '/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_55.txt' # 병합 결과를 저장할 text파일명
df.to_csv(save_as, sep = '\t', index = False)

## 2) Save as pickle file
* 텍스트 상태의 데이터가 아닌 파이썬 객체 자체를 파일로 저장함
* raw text파일은 불러오고 사용할 때 항상 parsing 작업 필요 → 비효율적!

In [9]:
import pickle
import os
import natsort
import pandas as pd

In [289]:
# Save
with open("/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_69.pickle", "wb") as fw:
    pickle.dump(df, fw)

In [46]:
# Load
with open("/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_57.pickle", "rb") as fr:
    df_56 = pickle.load(fr)

# 4. Merge all pickle files

## 1) Load all pickle files

In [6]:
# Load all pickle files
merged_pickle_path = '/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/'

merged_paths = []
merged_names = []

for dirname, _, filenames in os.walk(merged_pickle_path):
    filenames = natsort.natsorted(filenames)
    for filename in filenames:
        path = os.path.join(dirname, filename)
        if(path.endswith('pickle')):
            merged_paths.append(path)
            merged_names.append(filename)

for i in range(len(merged_paths)):
    print(merged_paths[i])
    print(merged_names[i])

print(len(merged_paths))

/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_55.pickle
SPINDLE1_TEST_55.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_56.pickle
SPINDLE1_TEST_56.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_57.pickle
SPINDLE1_TEST_57.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_58.pickle
SPINDLE1_TEST_58.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_60.pickle
SPINDLE1_TEST_60.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_61.pickle
SPINDLE1_TEST_61.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_62.pickle
SPINDLE1_TEST_62.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_63.pickle
SPINDLE1_TEST_63.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_64.pickle
SPINDLE1_TEST_64.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_65.pickle
SPINDLE1_TEST_65.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_66.pickle
SPINDLE1_TEST_66.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_67.pickle
SPINDLE1_TEST_67.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_68.pickle
SPINDLE1_TEST_68.pickle
/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergingProcess/SPINDLE1_TEST_69.pickle
SPINDLE1_TEST_69.pickle
14

In [7]:
final_df = [] # 모든 data를 담을 dataframe 리스트

for path in merged_paths:
    with open(path, "rb") as fr:
        final_df.append(pickle.load(fr))

print(len(final_df))

14

## 2) Concatenate

In [10]:
# 모든 dataframe 연결
finalDF = pd.concat(final_df, ignore_index=True)

print(len(finalDF))

661370000

## 3) Result

In [11]:
finalDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661370000 entries, 0 to 661369999
Data columns (total 5 columns):
time     float64
x_acc    float16
y_acc    float16
x_dis    float16
y_dis    float16
dtypes: float16(4), float64(1)
memory usage: 9.9 GB

## 4) Save as pickle file

In [14]:
# Save
with open("/Users/jjuke/Desktop/Study/BigDataAnalysis/TermProject/SPINDLE DATA/MergedData.pickle", "wb") as fw:
    pickle.dump(finalDF, fw, protocol=pickle.HIGHEST_PROTOCOL)