# 1. file명 (Path) 변수에 저장

In [22]:
import os
import numpy as np
import pandas as pd

# data_path = os.getcwd() + '/' # data가 ipynb파일과 같은 경로에 존재하는 경우
data_path = '/root/dev/datasets/S2_MR1_U2/TEST_175/' # data가 다른 경로에 존재하는 경우

print(data_path)

/root/dev/datasets/S2_MR1_U2/TEST_175/

In [23]:
import natsort # 문자열의 숫자를 기준으로 숫자 정렬처럼 정렬해줌!

# 모든 텍스트 파일 불러오기
file_paths = [] # 파일 경로를 담을 배열 선언
file_names = [] # 파일 이름을 담을 배열 선언

for dirname, _, filenames in os.walk(data_path):
    filenames = natsort.natsorted(filenames)
    for filename in filenames:
        path = os.path.join(dirname, filename)
        
        # 파일명에 SPINDLE1_TEST를 포함하고, -와 RMS는 포함하지 않는 경우 1초간의 rawData
        if(path.endswith('txt') and "SPINDLE1_TEST" in path and "-" not in path and "RMS" not in path):
            file_paths.append(path)
            file_names.append(filename)

for i in range(3):
    print(file_paths[i])
    print(file_names[i])

/root/dev/datasets/S2_MR1_U2/TEST_175/SPINDLE1_TEST1.txt
SPINDLE1_TEST1.txt
/root/dev/datasets/S2_MR1_U2/TEST_175/SPINDLE1_TEST2.txt
SPINDLE1_TEST2.txt
/root/dev/datasets/S2_MR1_U2/TEST_175/SPINDLE1_TEST3.txt
SPINDLE1_TEST3.txt

# 2. text파일을 Dataframe으로 저장 및 병합

## 1-1) 각 파일을 dataframe으로 불러와 배열에 저장

In [24]:
df_arr = [] # 각각의 파일을 dataframe으로 불러와 배열에 저장
for i in range(len(file_paths)):
    df_arr.append(pd.read_table(file_paths[i], sep='\t', header=None,
                                names=['time', 'x_acc', 'time2', 'y_acc', 'time3', 'temperature',
                                       'time4', 'x_dis', 'time5', 'y_dis']))

    # 불필요한 열 삭제
    df_arr[i].drop(['time2', 'time3', 'temperature', 'time4', 'time5'], axis=1, inplace=True)

print(df_arr[0])
print(df_arr[1].columns)
print('dataframe으로 불러온 array 개수: ', len(df_arr))
print('파일 path 개수 (위와 같아야 함): ', len(file_paths))
len_df_0 = len(df_arr[0])
print('첫 번째 파일 행 개수: ', len_df_0)
len_df_1 = len(df_arr[1])
print('두 번째 파일 행 개수: ', len_df_1)

            time     x_acc     y_acc     x_dis     y_dis
0       0.000000  0.431846  0.808040 -3.694279 -3.768028
1       0.000100 -0.870366 -0.287659 -3.726162 -3.744841
2       0.000200  1.295053  0.153317 -3.728738 -3.716179
3       0.000300 -0.629983 -0.220904 -3.708771 -3.692991
4       0.000400  0.061899  0.209549 -3.687516 -3.688160
...          ...       ...       ...       ...       ...
69995  10.374083  0.305899 -0.033136 -3.689126 -3.770283
69996  10.374183 -0.250171  0.223031 -3.718111 -3.755791
69997  10.374283  0.636714 -0.048591 -3.729060 -3.730027
69998  10.374383 -0.702328 -0.019325 -3.719721 -3.694279
69999  10.374483  0.078012  0.156605 -3.702652 -3.688804

[70000 rows x 5 columns]
Index(['time', 'x_acc', 'y_acc', 'x_dis', 'y_dis'], dtype='object')
dataframe으로 불러온 array 개수:  4
파일 path 개수 (위와 같아야 함):  4
첫 번째 파일 행 개수:  70000
두 번째 파일 행 개수:  80000

In [25]:
df_arr[0].head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.431846  0.808040 -3.694279 -3.768028
1  0.0001 -0.870366 -0.287659 -3.726162 -3.744841
2  0.0002  1.295053  0.153317 -3.728738 -3.716179
3  0.0003 -0.629983 -0.220904 -3.708771 -3.692991
4  0.0004  0.061899  0.209549 -3.687516 -3.688160

In [26]:
df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    70000 non-null  float64
 1   x_acc   70000 non-null  float64
 2   y_acc   70000 non-null  float64
 3   x_dis   70000 non-null  float64
 4   y_dis   70000 non-null  float64
dtypes: float64(5)
memory usage: 2.7 MB

## 1-2) data가 매우 많으므로 효율적인 datatype으로 변경

In [27]:
for i in range(len(file_paths)):
    df_arr[i]['x_acc'] = df_arr[i]['x_acc'].astype(np.float16)
    df_arr[i]['y_acc'] = df_arr[i]['y_acc'].astype(np.float16)
    df_arr[i]['x_dis'] = df_arr[i]['x_dis'].astype(np.float16)
    df_arr[i]['y_dis'] = df_arr[i]['y_dis'].astype(np.float16)

In [28]:
df_arr[0].head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.431885  0.808105 -3.693359 -3.767578
1  0.0001 -0.870605 -0.287598 -3.726562 -3.744141
2  0.0002  1.294922  0.153320 -3.728516 -3.716797
3  0.0003 -0.629883 -0.220947 -3.708984 -3.693359
4  0.0004  0.061890  0.209595 -3.687500 -3.687500

In [29]:
df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    70000 non-null  float64
 1   x_acc   70000 non-null  float16
 2   y_acc   70000 non-null  float16
 3   x_dis   70000 non-null  float16
 4   y_dis   70000 non-null  float16
dtypes: float16(4), float64(1)
memory usage: 1.1 MB

## 2) Merge
* 대부분 10분(600초) 간격을 두고 데이터를 수집했지만, 1초 간격으로 수집한 경우도 있음 (폴더에 명시되어있음)

## 2-1) 여러 txt파일에 나누어진 data 값들을 각 txt파일 사이에 1초 간격을 주어서 병합

In [30]:
last_index = df_arr[0].shape[0] # 마지막 행 index (확인용)
print(last_index)

for i in range(len(file_paths) - 1): # 마지막 파일은 제외
    last_time = df_arr[i].iloc[-1,0]
    
    if (i == 0):
        print(last_time)
        print(type(last_time))
    
    # 연결될 파일(다음 파일)의 time열에만 last_time을 더함
    df_arr[i+1] = df_arr[i+1].add([last_time + 1, 0, 0, 0, 0], axis=1) # 1초 간격 부여
    
    if (i == 0):
        print(df_arr[i].iloc[last_index - 1,:])
        print()
        print(df_arr[i+1].iloc[0,:])
    
# dataframe을 연결함
df = pd.concat(df_arr)
df_arr[i+1] = pd.concat([df_arr[i], df_arr[i+1]], axis=0)

print()
print()
print(df.iloc[last_index - 1,:])
print()
print(df.iloc[last_index, :])

print()
print()
print(df.iloc[69999, :])
print(df.iloc[70000, :])

70000
10.374483
<class 'numpy.float64'>
time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64

time     11.374483
x_acc    -0.401367
y_acc    -0.020966
x_dis    -3.623047
y_dis    -3.722656
Name: 0, dtype: float64


time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64

time     11.374483
x_acc    -0.401367
y_acc    -0.020966
x_dis    -3.623047
y_dis    -3.722656
Name: 0, dtype: float64


time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64
time     11.374483
x_acc    -0.401367
y_acc    -0.020966
x_dis    -3.623047
y_dis    -3.722656
Name: 0, dtype: float64

## 2-2) 여러 txt파일에 나누어진 data 값들을 각 txt파일 사이에 600초 (10분) 간격을 주어서 병합

In [31]:
last_index = df_arr[0].shape[0] # 마지막 행 index (확인용)
print(last_index)

for i in range(len(file_paths) - 1): # 마지막 파일은 제외
    last_time = df_arr[i].iloc[-1,0]
    
    if (i == 0):
        print(last_time)
        print(type(last_time))
    
    # 연결될 파일(다음 파일)의 time열에만 last_time을 더함
    df_arr[i+1] = df_arr[i+1].add([last_time + 600, 0, 0, 0, 0], axis=1) # 600초 간격 부여
    
    if (i == 0):
        print(df_arr[i].iloc[last_index - 1,:])
        print()
        print(df_arr[i+1].iloc[0,:])
    
# dataframe을 연결함
df = pd.concat(df_arr, ignore_index=True)
df_arr[i+1] = pd.concat([df_arr[i], df_arr[i+1]], axis=0)

print()
print()
print(df.iloc[last_index - 1,:])
print()
print(df.iloc[last_index, :])

print()
print()
print(df.iloc[69999, :])
print(df.iloc[70000, :])

70000
10.374483
<class 'numpy.float64'>
time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64

time     621.748966
x_acc     -0.401367
y_acc     -0.020966
x_dis     -3.623047
y_dis     -3.722656
Name: 0, dtype: float64


time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64

time     621.748966
x_acc     -0.401367
y_acc     -0.020966
x_dis     -3.623047
y_dis     -3.722656
Name: 70000, dtype: float64


time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64
time     621.748966
x_acc     -0.401367
y_acc     -0.020966
x_dis     -3.623047
y_dis     -3.722656
Name: 70000, dtype: float64

## 3) 병합 결과 확인

In [32]:
print(df.iloc[len_df_0 - 1,:])
print()
print(df.iloc[len_df_0,:])

print(len(df_arr[0]))
print(len(df_arr[1]))

print(len(df))
print(len(df_arr))

time     10.374483
x_acc     0.078003
y_acc     0.156616
x_dis    -3.703125
y_dis    -3.689453
Name: 69999, dtype: float64

time     621.748966
x_acc     -0.401367
y_acc     -0.020966
x_dis     -3.623047
y_dis     -3.722656
Name: 70000, dtype: float64
70000
80000
390000
4

In [33]:
df.head()

     time     x_acc     y_acc     x_dis     y_dis
0  0.0000  0.431885  0.808105 -3.693359 -3.767578
1  0.0001 -0.870605 -0.287598 -3.726562 -3.744141
2  0.0002  1.294922  0.153320 -3.728516 -3.716797
3  0.0003 -0.629883 -0.220947 -3.708984 -3.693359
4  0.0004  0.061890  0.209595 -3.687500 -3.687500

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390000 entries, 0 to 389999
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    390000 non-null  float64
 1   x_acc   390000 non-null  float64
 2   y_acc   390000 non-null  float64
 3   x_dis   390000 non-null  float64
 4   y_dis   390000 non-null  float64
dtypes: float64(5)
memory usage: 14.9 MB

In [35]:
df.describe()

,time,x_acc,y_acc,x_dis,y_dis
count,390000.000000,390000.000000,390000.000000,390000.000000,390000.000000
mean,1169.749170,-0.000756,0.002427,-3.667056,-3.741006
std,725.680858,0.677244,0.377465,0.046360,0.037644
min,0.000000,-2.861328,-1.560547,-5.625000,-5.320312
25%,625.458628,-0.463867,-0.258057,-3.703125,-3.771484
50%,1263.313915,-0.001238,0.001721,-3.669922,-3.742188
75%,1901.196342,0.464111,0.260498,-3.625000,-3.705078
max,1915.827331,2.921875,1.801758,-3.466797,-3.564453

In [36]:
print(df.isnull().sum()) # column 별 결측치 개수

time     0
x_acc    0
y_acc    0
x_dis    0
y_dis    0
dtype: int64

# 3. Change to txt file (Save as a new file)

## 1) Save as text file

In [37]:
save_as = '/root/SpindleData/SPINDLE1_TEST_175.txt' # 병합 결과를 저장할 text파일명
df.to_csv(save_as, sep = '\t', index = False)

## 2) Save as pickle file
* 텍스트 상태의 데이터가 아닌 파이썬 객체 자체를 파일로 저장함
* raw text파일은 불러오고 사용할 때 항상 parsing 작업 필요 → 비효율적!

In [18]:
import pickle
import os
import natsort
import pandas as pd

In [38]:
# Save
with open("/root/SpindleData/SPINDLE1_TEST_175.pickle", "wb") as fw:
    pickle.dump(df, fw)

In [20]:
# Load
with open("/root/SpindleData/SPINDLE1_TEST_175.pickle", "rb") as fr:
    df_56 = pickle.load(fr)

# 4. Merge all pickle files

## 1) Load all pickle files

In [40]:
# Load all pickle files
merged_pickle_path = '/root/SpindleData/'

merged_paths = []
merged_names = []

for dirname, _, filenames in os.walk(merged_pickle_path):
    filenames = natsort.natsorted(filenames)
    for filename in filenames:
        path = os.path.join(dirname, filename)
        if(path.endswith('pickle')):
            merged_paths.append(path)
            merged_names.append(filename)

for i in range(len(merged_paths)):
    print(merged_paths[i])
    print(merged_names[i])

print(len(merged_paths))

/root/SpindleData/SPINDLE1_TEST_175.pickle
SPINDLE1_TEST_175.pickle
/root/SpindleData/SPINDLE1_TEST_176(spindle U2 파손됨).pickle
SPINDLE1_TEST_176(spindle U2 파손됨).pickle
2

In [41]:
final_df = [] # 모든 data를 담을 dataframe 리스트

for path in merged_paths:
    with open(path, "rb") as fr:
        final_df.append(pickle.load(fr))

print(len(final_df))

2

## 2) Concatenate

In [42]:
# 모든 dataframe 연결
finalDF = pd.concat(final_df, ignore_index=True)

print(len(finalDF))

58620000

## 3) Result

In [43]:
finalDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58620000 entries, 0 to 58619999
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   time    float64
 1   x_acc   float64
 2   y_acc   float64
 3   x_dis   float64
 4   y_dis   float64
dtypes: float64(5)
memory usage: 2.2 GB

## 4) Save as pickle file

In [44]:
# Save
with open("/root/SpindleData/MergedData.pickle", "wb") as fw:
    pickle.dump(finalDF, fw, protocol=pickle.HIGHEST_PROTOCOL)